{% extends 'base.html.twig' %}

{% block body %}
    <h1>Testimony</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ testimony.id }}</td>
            </tr>
            <tr>
                <th>Wname</th>
                <td>{{ testimony.wName }}</td>
            </tr>
            <tr>
                <th>Wfirstname</th>
                <td>{{ testimony.wFirstname }}</td>
            </tr>
            <tr>
                <th>Wdescription</th>
                <td>{{ testimony.wDescription }}</td>
            </tr>
            <tr>
                <th>Wpicturepath</th>
                <td>{{ testimony.wPicturePath }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('testimony_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('testimony_edit', { 'id': testimony.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
