{% extends 'base.html.twig' %}

{% block body %}
    <h1>IntegrationVideo list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Iframe</th>
                <th>Description</th>
                <th>Adddate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for integrationVideo in integrationVideos %}
            <tr>
                <td><a href="{{ path('integrationvideo_show', { 'id': integrationVideo.id }) }}">{{ integrationVideo.id }}</a></td>
                <td>{{ integrationVideo.iframe }}</td>
                <td>{{ integrationVideo.description }}</td>
                <td>{% if integrationVideo.addDate %}{{ integrationVideo.addDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('integrationvideo_show', { 'id': integrationVideo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('integrationvideo_edit', { 'id': integrationVideo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('integrationvideo_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
