{% extends 'base.html.twig' %}

{% block body %}
    <h1>Integration_video</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ integration_video.id }}</td>
            </tr>
            <tr>
                <th>Iframe</th>
                <td>{{ integration_video.iframe }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ integration_video.description }}</td>
            </tr>
            <tr>
                <th>Adddate</th>
                <td>{% if integration_video.addDate %}{{ integration_video.addDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('integration_video_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('integration_video_edit', { 'id': integration_video.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
