{% extends 'base.html.twig' %}

{% block body %}
        <div id="index">

        <div class="container">
            <div id="maintitle" class ="col-xs-12">
                <h1>L'humain <strong>au coeur</strong> de la vidéo!</h1>
                <a href="{{ path('front_videos_category') }}"><button class="button-header">Nos vidéos!</button></a>
            </div>
        </div>

        <section class="videointro">
            <video autoplay loop poster="{{ asset('media/intro.jpg') }}" id="videointro" class="hidden-xs hidden-sm">
                <source src="{{ asset('media/intro.webm') }}" type="video/webm">
                <source src="{{ asset('media/intro.mp4') }}" type="video/mp4">
            </video>
        </section>

        <section class="bgwhite container-fluid" >
            <div class="container">
                <div class="col-xs-12">
                    <h2>Titre d'accroche</h2>
                    <hr />
                    <h3><em>Sous titre</em></h3>
                    <p>Android sucks afterwards gorgeous why delay in getting Ice Cream Sandwich.
                        CrackBerry, such a Android is fragmented as so-called “iPad killer” what pleasure to ue,
                        in the main profit this is why user experience sucks owing to Siri is better than TellMe and Google Voice put together.
                        Battery life, at last Jony Ive’s incredible design, while iCloud, but also Flash sucks.
                        Gorgeous first MacBook Air is just beautiful in my opinion profit although Android geek suddenly gorgeous, I think iPhone rip-offs, generally Apple will only get better.
                    </p>
                </div>
            </div>
        </section>

        <section class="container-fluid imgfix" id="videaste">
            <div class="container">
                <div class="col-xs-12">
                    <h2>Publireportage vidéo est un support incontournable dans votre communication globale</h2>
                </div>
            </div>
        </section>


        <section class="container-fluid video-presentation">
            <div class="container">
                <div class="col-xs-12">
                    <h2>Nos dernières vidéos</h2>
                    <hr />
                    <h3><em>Courte description de la catégorie de vidéo.</em></h3>
                </div>
            </div>

            <div class="container-fluid">
                {% for video in videos %}
                <div class="col-xs-12 col-md-4 container-video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item video-youtube" src="{{ video.iframe }}" allowfullscreen></iframe>
                    </div>
                </div>
                {% endfor %}

                <div class="container" id="video-description">
                    <div class="col-xs-12" id="text-index">
                        <p>Important: ici dans un soucis de clarté du code, des retours à la ligne ont été utilisé.
                            Mais lorsque vous copier/coller ce code, il est possible de tout mettre sur une même ligne.
                            Et il faut aussi modifier l'URL avec la page de votre choix.mportant: ici dans un soucis de clarté du code, des retours à la ligne ont été utilisé.
                            Mais lorsque vous copier/coller ce code, il est possible de tout mettre sur une même ligne.
                            Et il faut aussi modifier l'URL avec la page ce code, il est possible de tout mettre sur une même ligne.
                            Et il faut aussi modifier l'URL avec la page de votre choix.mportant: ici dans un soucis de clarté du code, des retours à la ligne ont été utilisé.
                            Mais lorsque vous copier/coller ce code, il est possible de tout mettre sur une même ligne.
                            Et il faut aussi modifier l'URL avec la page de votre choix.</p>
                    </div>
                </div>
            </div>
        </section>


        <section class="imgfix container-fluid" id="imgtransition">
            <div class="container">
                <div class="col-xs-12">
                    <h2>Vous souhaitez conforter votre image de marque, amplifier votre notoriété et ainsi développer votre clientèle....</h2>
                </div>
            </div>
        </section>



        <section class="container-fluid">
            <div class="container">
                <div class="col-xs-12 temoignage">
                    <h2>Témoignages</h2>
                    <hr />
                    <h3><em>Nos clients témoignent</em></h3>
                    <div class="row">
                        {% for testimony in testimonies %}
                        <div class="col-xs-12 col-md-4  temoin">
                            <img src="{{ asset(wpictures_directory ~ testimony.wPicturePath) }}">
                        </div>
                        <p class="col-xs-12 col-md-8">{{ testimony.wDescription }}</p>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}