{% extends 'base.html.twig' %}

{% block title %}Klap Affaires | Publireportage video Lyon{% endblock %}
{% block body %}
        <div id="index">

        <div class="container">
            <div id="maintitle" class="col-xs-12">
                <h1>L'humain <strong>au coeur</strong> de la vidéo!</h1>
                <a href="{{ path('front_videos_category') }}"><button class="button-header">Nos vidéos!</button></a>
            </div>
        </div>

        <section class="videointro">
            <video autoplay loop poster="{{ asset('media/intro.jpg') }}" id="videointro" class="hidden-xs hidden-sm">
                <source src="{{ asset('media/intro.webm') }}" type="video/webm">
                <source src="{{ asset('media/intro.mp4') }}" type="video/mp4">
            </video>
        </section>

        <section class="bgwhite container-fluid" >
            <div class="container">
                <div class="col-xs-12">
                    <h2>Klap'Affaires en quelques mots</h2>
                    <hr />
                    <h3><em>Sous titre</em></h3>
                    <p>La vidéo est un moyen simple et efficace de faire le buzz. Nous sommes à mi-chemin entre la publicité et le
                        documentaire, où nous ajoutons un côté humain pour une réelle immersion à vos côtés. Le tout rythmé par
                        des professionnels : journaliste, cameraman et coach en prise de parole.
                    </p>
                </div>
            </div>
        </section>

        <section class="container-fluid imgfix" id="videaste">
            <div class="container">
                <div class="col-xs-12">
                    <h2>Référencement et partage sur nos réseaux et notre chaine YouTube.</h2>
                </div>
            </div>
        </section>


        <section class="container-fluid video-presentation">
            <div class="container">
                <div class="col-xs-12">
                    <h2>Visualisez nos trois derniers tournages.</h2>
                    <hr />
                    <h3><em>Courte description de la catégorie de vidéo.</em></h3>
                </div>
            </div>

            <div class="container-fluid">
                {% for video in videos %}
                <div class="col-xs-12 col-md-4 container-video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item video-youtube" src="{{ video.iframe }}" allowfullscreen></iframe>
                    </div>
                </div>
                {% endfor %}

                <div class="container" id="video-description">
                    <div class="col-xs-12" id="text-index">
                        <p>La vidéo est un outil incontournable et efficace pour informer et communiquer. Notre concept se base sur
                            la présentation de votre entreprise et de ses activités.</p>
                    </div>
                </div>
            </div>
        </section>


        <section class="imgfix container-fluid" id="imgtransition">
            <div class="container">
                <div class="col-xs-12">
                    <h2>Vous souhaitez conforter votre image de marque, amplifier votre notoriété et ainsi développer votre clientèle....</h2>
                </div>
            </div>
        </section>



        <section class="container-fluid">
            <div class="container">
                <div class="col-xs-12 temoignage">
                    <h2>Témoignages</h2>
                    <hr />
                    <h3><em>Nos clients témoignent</em></h3>
                    <div class="row">
                        {% for testimony in testimonies %}
                        <div class="col-xs-12 col-md-4 temoin">
                            <img src="{{ asset(wpictures_directory ~ testimony.wPicturePath) }}">
                        </div>
                        <p class="col-xs-12 col-md-8">{{ testimony.wDescription }}</p>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}