{% extends 'base.html.twig' %}

{% block title %}Klap Affaires | Nos videos {% endblock %}
{% block body %}
    <div class="container-fluid" id="img-header-video">
        <div class="container">
            <h1>Spécialiste du <strong>publireportage</strong> vidéo!</h1>
            <a href="#"><button class="button-intern">Contactez-nous!</button></a>
        </div>
    </div>
    <!-- Category list -->
    <section class="container-fluid">
        <div class="container video-category">
            <h2>Nos catégories</h2>
            <hr />
            <h3><em>Les vidéos sont de plus en plus privilégiées et suscitent un véritable attrait.
                    Un moyen simple et efficace de faire le buzz, si celle-ci est faite de manière professionnelle...</em></h3>
            <ul class="category">
                {% for categoryvideo in categoryVideos %}
                <li><a href="{{ path("front_videos", {'id': categoryvideo.id}) }}"><button>{{ categoryvideo.category }}</button></a></li>
                {% endfor %}


            </ul>
        </div>
    </section>

    <section class="container-fluid video-presentation">

        <!-- Video Bloc -->
        <div class="container-fluid">
            <div class="row">
                {% for video in videos %}
                <div class="col-xs-12 col-sm-6 col-md-4 container-video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item video-youtube" src="{{ asset(video.iframe) }}" allowfullscreen></iframe>
                    </div>
                    <div class="video-description">
                        <p>{{ video.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Description of our videos -->
    <section class="container-fluid video-presentation">
        <div class="row" id="video-presentation2">
            {% for element in elements %}
            <div class="col-xs-12">
                <h2>{{ element.categoryTitle }}</h2>
                <hr />
                <h3><em>{{ element.shortDesc }}</em></h3>
            </div>

            <div class="col-xs-10 col-xs-offset-1">
                <div class="col-xs-12 col-lg-4">
                    <img class="img-presentation" src="{{ asset(category_picture ~ element.picture) }}" alt="#">
                </div>
                <div class="col-xs-12 col-lg-8 text-presentation">
                    <p>
                       {{ element.longDesc }}
                    </p>
                </div>
             {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}