{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid" id="img-header-video">
    <div class="container">
        <h1>Qui sommes <strong>nous</strong>?</h1>
        <a href="#"><button class="button-intern">Contactez-nous!</button></a>
    </div>
</div>
<!-- Introduction Remi & Christophe -->
<section class="container-fluid">
    <div class="container video-category">
        <h2>Un service, deux intervenants</h2>
        <hr />
        <h3><em>Avec leur compétences complémentaires, Rémi et Christophe vous proposent de vous démarquer efficacement</em></h3>
    </div>
</section>

<section class="container-fluid video-presentation">
    <div class="container">
        <div class="col-xs-12 col-sm-6 center-presentation">
            <h2>Rémi Reibel</h2>
            <hr />

                 <img class="img-circle" src="{{ asset('img/remi-reibel-klap-affaires.jpg') }}">
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est
                eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est,
                omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet
                ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus,
                ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
        </div>

        <div class="col-xs-12 col-sm-6 center-presentation">
            <h2>Christophe Lacassagne</h2>
            <hr />
                <img class="img-circle" src="{{ asset('img/christophe-lacassagne-klap-affaires.jpg') }}">
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est
                eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est,
                omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet
                ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus,
                ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
        </div>
    </div>

</section>

<section class="imgfix container-fluid" id="imgtransition">

    </div>
</section>

<!-- your accompagnment -->
<section class="container-fluid video-presentation">
    <div class="container">
        <div class="col-xs-12">
            <h2>Votre Accompagnement en 3 étapes</h2>
            <hr />
            <h3><em>Accompagnement en 3 étapes</em></h3>
        </div>
        <div>
            <div class="col-xs-12 col-md-4 center-support">
                <div class="center-support-img">
                    <img  src="{{ asset('img/before.svg') }}">
                </div>
                <p>Avant</p>
            </div>

            <div class="col-xs-12 col-md-4 center-support">
                <div class="center-support-img">
                    <img  src="{{ asset('img/during.svg') }}">
                </div>
                <p>Pendant</p>
            </div>

            <div class="col-xs-12 col-md-4 center-support">
                <div class="center-support-img">
                    <img  src="{{ asset('img/after.svg') }}">
                </div>
                <p>Après</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}