{% extends 'base.html.twig' %}

{% block body %}
    <h1>CategoryVideo list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th>Shortdesc</th>
                <th>Longdesc</th>
                <th>Picture</th>
                <th>Categorytitle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categoryVideo in categoryVideos %}
            <tr>
                <td><a href="{{ path('categoryvideo_show', { 'id': categoryVideo.id }) }}">{{ categoryVideo.id }}</a></td>
                <td>{{ categoryVideo.category }}</td>
                <td>{{ categoryVideo.shortDesc }}</td>
                <td>{{ categoryVideo.longDesc }}</td>
                <td>{{ categoryVideo.picture }}</td>
                <td>{{ categoryVideo.categoryTitle }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('categoryvideo_show', { 'id': categoryVideo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('categoryvideo_edit', { 'id': categoryVideo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categoryvideo_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
